body{
    background-color: black;
}

h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
}

.square {
    display: inline-block;
    border-style: solid;
    border-color: white;
    width: 62px;
    height: 62px;
    margin: 5px;
}